.header{
    background: white;
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid 1px #D6D7DC;
    color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}
.cat
{
   font-family: 'Proza Libre', sans-serif;
   color: #534E68;
    padding-top: 30px;
     font-size: 22px;
    text-align: center;
} 
.honor {
	font-family: 'Proza Libre', sans-serif;
    color: #8258B6;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    text-align:center;
    } 

    .video1 {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: 11px;
    background-color: #F4F4F4;
    border: 30px;
    border-color: black;
    border-bottom: solid 1px #D6D7DC;
}
.tag {
    position: fixed;
    right: 0px;
    top: 0px;
}
.video2 {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    background-color: #dfecf5;
    border: 30px;
    border-bottom: solid 1px #D6D7DC;
}
.video3 {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: 11px;
    font-family: sans-serif;
    background-color: #dfe0f4;
    border: 30px;
    border-bottom: solid 1px #D6D7DC;
}
.social{
    text-align: center;
    padding: 40px;
    background-color: #8453C8;
    color: #FAFAFA;
    font-family: 'Proza Libre', sans-serif;
    padding-top: 30px;
     font-size: 18px;
    text-align: center;
    }